.library-profile-page {
  padding: 60px 60px;
  background-color: #f0f8f8;
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
}

.profile-header-ss {
  background-color: darkcyan;
  color: white;
  padding: 20px 30px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-header-ss h1 {
  font-size: 26px;
  margin: 0;
  color: white;
}

.profile-header-ss button {
  border: 1px solid white !important;
  background-color: transparent;
  color: white;
  font-weight: 500;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s;
}
.edit-icon {
  font-size: 22px;
}

.profile-header-ss button:hover {
  background-color: white !important  ;
  color: darkcyan !important;
}

.profile-content {
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
}

.info-side {
  flex: 1;
  min-width: 200px;
  background-color: #ffffff;
  border-left: 6px solid darkcyan;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info-side p {
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
  color: #001f3f;
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-side a {
  color: darkcyan;
  text-decoration: none;
  transition: all 0.3s ease;
}

.info-side a:hover {
  text-decoration: underline;
}

.profile-img img {
  width: 100%;
  max-width: 250px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.map-side {
  flex: 1;
  min-width: 350px;
  max-height: 400px;
  border-radius: 12px;
  overflow: hidden;
  border: 3px solid darkcyan;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.no-map {
  background-color: #fff3f3;
  border: 1px solid #ffcccc;
  color: #d8000c;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
}

.spin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.error {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  color: darkcyan;
}

/* Ant Design form moslashuvi */
.ant-modal-title {
  color: darkcyan;
  font-size: 22px;
}

.ant-form-item-label > label {
  color: darkcyan !important;
}
