@import "./styles/header.css";
@import "./styles/layout.css";
@import "./styles/home.css";
@import "./styles/about.css";
@import "./styles/libraryList.css";
@import "./styles/libraryDetail.css";
@import "./styles/libraryProfile.css";
@import "./styles/login.css";
@import "./styles/register.css";
@import "./styles/addBooks.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
